<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Lista de Casamentos</title>
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
     <div class="container mb-4">
        <header class="p-5 text-center">
            <h1>Bem-vindo</h1>
        </header>
        <div class="row">
            {{#if casamento.length}}
                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
                    {{#each casamento}}
                        <div class="">
                            <a href="/casamento/{{id}}/detalhes" class="text-decoration-none text-dark"></a>
                                <div class="card p-3 shadow-sm h-100" style="width: 150vh;">
                                    <h2>{{titulo}}</h2>
                                    <p><strong>Data:</strong> {{data_casamento}}</p>
                                    <form action="/casamento/{{id}}/detalhes" method="post">
                                        <label class="" for="nome">Convidado</label>
                                        <input type="text" id="nome" name="nome" placeholder="Nome Completo" class="" required>
                                        <button  type="submit" class="">Enviar</button>
                                    </form> 
                                          <a href="/casamento/{{this.id}}/presentes" class="" role="button">Cadastre-se</a>
                                </div>
                        </div>
                    {{/each}}
                </div>
            {{else}}
                <p class="text-muted text-stard">Sem casamentos no momento.</p>
            {{/if}}
        </div>
    </div>

    
</body>
</html>
