<div class="container-md-12">
    <header class="row">
                <img  src="/img/teste.jpeg"  alt="{{thicasamento.nome}}" class="">
          
            

    </header>


    <div class="container">
  <div class="row">
    <div class="col-8">
      <div class="container">
        <section class="py-5 bg-soft">
            <div class="row g-3" id="presentes">
                {{#if presentes.length}}
                    {{#each presentes}}
                        <div class="col-lg-4">
                            <div class="team-card h-100 ">
                                <img src="{{imagem}}" alt="{{nome}}" class="team-image w-100">
                                <div class="p-4">
                                    <h5>{{nome}}</h5>
                                    <p class="text-muted mb-4">R$ {{preco}}</p>
                                    <button role="button" class="btn btn-danger " onclick="adicionarAoCarrinho({{@index}})">Presentear</button>
                                </div>
                            </div>
                        </div>
                    {{/each}}
                {{else}}
                    <div>
                        <p>Sem Presentes Disponíveis.</p>
                    </div>
                {{/if}}
            </div>
        </section>
    </div>
    </div>
    <div class="col-4">
            <!-- Sessão para os presentes -->   
    
    <div class="container m-2 position-sticky top-0">
        <!-- CARRINHO -->
            <div class="container-fluid text-center ">
                <h2> Lista De Presentes</h2>
            <ul id="carrinho" class="list-group mb-3"></ul>
            <div id="alert"></div>
            <p><strong>Total:</strong>R$ <span id="total">0.00</span></p>
            <button type="button" class="btn btn-success" onclick="finalizarPedidos()">🎁 Registrar Presente</button>
            <button type="button" class="btn btn-secondary" onclick="LimparCarrinho()">🗑 Limpar Lista</button>
            <div class="justify-content-center ">
                 <img src="/img/qrcod.jpeg" alt="pagamento" class="rounded mx-auto d-block"> 
            </div>
           
            </div>
        </div>
    </div>
  </div>
</div>
    <!-- JSON com os presentes vindos do backend -->
    <script>
        const presentes = [
            {{#each presentes}}
                {
                    nome: "{{nome}}",
                    preco: {{preco}},
                    imagem: "{{imagem}}"
                }{{#unless @last}},{{/unless}}
            {{/each}}
        ];
    </script>

    <!-- SCRIPT DO CARRINHO -->
    <script>
        let carrinho = [];

        function adicionarAoCarrinho(index) {
            carrinho.push(presentes[index]);
            atualizarCarrinho();
        }

        function removerItemDoCarrinho(index) {
            carrinho.splice(index, 1);
            atualizarCarrinho();
        }

            function atualizarCarrinho() {
            const lista = document.querySelector("#carrinho");
            lista.innerHTML = "";

            let total = 0;

            carrinho.forEach((item, index) => {
                const li = document.createElement("li");
                li.className = "list-group-item d-flex justify-content-between align-items-center";
                li.innerHTML = `
                    <span>${item.nome} - R$ ${item.preco.toFixed(2)}</span>
                    <button class="btn btn-sm btn-outline-danger" onclick="removerItemDoCarrinho(${index})">
                        <i class="bi bi-trash">Remover</i>
                    </button>
                `;
                lista.appendChild(li);
                total += item.preco;
            });

              document.querySelector("#total").textContent = total.toFixed(2);
    
        }


      
        function finalizarPedidos() {
            if (carrinho.length === 0) {
                alert("Carrinho vazio. Adicione presentes antes de finalizar.");
                return;
            }

            const nomes = carrinho.map(p => p.nome).join(", ");
            alert(`Obrigado pela escolha!\nPresentes:\n ${nomes} \n`);
        }

        function LimparCarrinho() {
            carrinho = [];
            atualizarCarrinho();
        }
    </script>
</div>
